*{
    margin: 0;
    padding: 0;
}

.al1{
    background-color: #e554731a;
}
.al2 {
    margin: 0px 110px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 97px;
}
.al3{
    width: 708px;
}
.al4 {
    color: #291919;
    font-size: 70px;
    font-weight: 800;
}
.al5{
    color: rgba(87, 82, 82, 0.6);
    font-size: 17px;
    font-weight: 390;
    line-height: 25px;
    margin: 30px 0px;
}
.btn{
    color: aliceblue;
    border-radius: 8px;
    background: #0d0003;
    padding: 25px 45px;
    border: none;
}
.photo{
    width: 600px;
    height: 650px;

}
.section{
    margin: 100px 110px;
}
.container h3{
    color: #0d0101;
    text-align: center;
    font-size: 45px;
    font-weight: 800;
}
.container p{
    color: rgba(21, 5, 5, 0.6);
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}
.flower-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.b1 img {
    /* border-radius: 300px 300px 0px 0px; */
    border-radius: 295px 295px 0px 0px ;
}
.b2 img {
    border-radius: 300px 300px 0px 0px;
}
.b3 img {
    border-radius: 300px 300px 0px 0px;
}
.b1 img {
    background-color: #a7216226;
}
.b2 img {
    background-color: #0597a026;
  }
  .b3 img {
    background-color: #477d1126;
}
.flower-container a {
    display: block;
    text-align: center;
    color: #272727;
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
}
.flower-container img {
    width: 300px;
    height: 300px;
    padding: 100px 47px 57px 47px;
    margin: 40px 10px 0px 10px;
}

.alamin1{
    background-color: #e554730d;
    height: 550px;
}
.hotdeal-container {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    align-items: center;
    margin: 0px 100px;
 }
.hotdeal-container h3{
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}
.button{
    margin: 0px 25%;
}
.text{
    color: #0fe928;
}
.hotdeal-container p {
    margin: 40px 0;
    color: rgba(27, 2, 2, 0.6);
    text-align: center;
    font-size: 20px;
    font-weight: 400px;
    line-height: 30px;
}
.photo-cover{
    width: 300px;
    height: 350px;
    padding: 100px 150px;
}
.instagram-section{
    margin: 0px 110px;
}
.ins-text{
    text-align: center;
    margin: 100px 0px 50px 0px;
}
.ins-text h3 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 15px;
}
.ins-text p {
    color: rgba(23, 0, 0, 0.6);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}
.img-div{
    display: flex;
    justify-content: space-around;
    gap: 25px;
}
.img-box img{
    width: 295px;
    height: 340px;
}
.img-box{
    margin-bottom: 120px;
}
.finish-section{
    margin: 0px 110px;
    margin-bottom: 150px;
}
.last-container{
    height: 450px;
    background-image: url("./image/background2.png");
    background-repeat: no-repeat;
    margin-left: 150px;
}
.div-text{
    text-align: center;
}
.div-text h3{
    color: #272727;
    font-size: 40px;
    font-weight: 800; 
}
.div-text p {
    color: rgba(39, 39, 39, 0.6);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 20px 0px;
    margin-bottom: 30px;
  }
  .div-text input {
    width: 513px;
    padding: 22px;
    border: none;
    border-radius: 8px;
    background: #fff;
    margin-right: 7px;
  }

.foot{
    height: 450px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #111010;
}
.footer{
    text-align: center;
}
.footer h3 {
    color: white;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    margin-bottom: 30px;
}
.flower {
    color: #e55473;
}
.foot-div{
    color: rgba(255, 255, 255, 0.9);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 25px;
}
.all_right {
    color: rgba(255, 255, 255, 0.4);
    font-size: 16px;
    font-weight: 400;
}